<div class="container">
  <form method="POST" action="/register">
    <div>
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name" id="name">
    </div>
    <div>
      <label for="username">Username</label>
      <input class="form-control" type="text" name="username" id="username">
    </div>
    <div>
      <label for="email">Email</label>
      <input class="form-control" type="text" name="email" id="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password">
    </div>
    <div>
      <label for="passwordConfirmation">Password Confirmation</label>
      <input class="form-control" type="password" name="passwordConfirmation" id="passwordConfirmation">
    </div>
    <br>
    <button class="btn btn-outline-dark">Register</button>
  </form>
  <br>
<button class="btn btn-info btn-sm"><a href="/pugs">Back</button></a>
</div>
