<nav class="navbar-expand-lg footer">
  <footer class="navbar-brand fixed-bottom" style="width: 100%"><p class="text-center">Created by Crossy Studios &#x2606; at General Assembly &hearts;</p></footer>
</nav>
