<div class="container-expand-lg">
  <div class="jumbotron content">
    <h1 class="display-3">Welcome Pug Lover!</h1>
    <p class="lead">
      Do you love their smooshy, squidgy faces?
      Now you can add a whole other level of joy to your life with Pugstagram!
    </p>
    <hr class="my-4">
    <p> <a href="/register">Register</a> or <a href="/login">Log in</a> to begin your journey to Pug Nirvana... &hearts;</p>
  </div>
</div>
