<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    <h1>Pugstagram &hearts;</h1>
    <div class="h-100 d-inline-block" style="width: 100%; background-color: rgba(224, 175, 160, .1)">
    <p>
    Do you love their smooshy, squidgy faces? <br>
    Of course you do...!
    <br>
    Now you can add a whole other level of joy to your life with Pugstagram!
    <br>
    Browse, Like & Add pugs IN COSTUME
    <br>
    Register or Log in to begin your journey to Pug Nirvana... &hearts;
    </p>
  </div>
  </div>
  <div class="col-sm">
  </div>
  </div>
</div>
