.jumbotron {
  background-image: url('../images/pug.jpg');
  background-position: center;
  background-size: cover;
  color: #000000;
  opacity: 0.7;
}

.bgcolor {
  background: rgba(255, 255, 255, 0.5);
}

.homebox {
  margin: 0 auto;
}
